:root {
  --main-color: rgb(38, 163, 201);
  --bg-color: rgba(231, 230, 230, 0.92);
  --secondary-bg-color: rgba(194, 190, 190, 0.651);
  --third-bg-color: rgba(151, 148, 148, 0.651);
  --secondary-color: rgb(255, 95, 74);
  --text-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  background-color: var(--bg-color);
}

.header {
  display: flex;
  justify-content: end;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: var(--text-color);
  align-items: baseline;
  font-size: 1.1rem;
}

.header_title {
  font-size: 1.2rem;
  flex: 0 0 50%;
}

.header_menu a {
  margin-left: 1rem;
}

.active {
  color: var(--secondary-color);
}

.tasks_wrapper {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  height: 90vh;
}

.tasks_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-bg-color);
  width:30%;
}

.tasks_column-title {
  background-color: var(--third-bg-color);
  padding: 0.7rem 0;
  width: 100%;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.tasks_column-button {
  background-color: var(--main-color);
  padding: 0.2rem 1rem;
  color: var(--text-color);
  align-self: flex-start;
  margin-left: 1rem;
  border-radius: 0.3rem
}

.tasks_column-button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.tasks_task-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}

.tasks_task {
  background-color: var(--third-bg-color);
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 0.2rem;
}

.tasks_task:hover {
  cursor: move;
  border-color: var(--secondary-color)
}

.footer {
  padding: 5px 10px;
  display: flex;
  justify-content: end;
  align-items: baseline;
  background-color: var(--main-color);
  font-size: 1rem;
}

.footer i {
  color: var(--text-color);
  margin-right: 3px;
}

.footer i:hover, .footer a:hover, .header a:hover  {
  color: var(--secondary-color);
}